---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I teach the following courses at the University of Applied Sciences St. Pölten: <br> <br>

- 3D Modeling and Animation <i>(3DD-3DMA)</i> <br>
- Creative Code Lab 4: Extending Realities <i>(CCL4-ER)</i> <br>
- mediaLab Digital Game Production <i>(MLAB-DGP)</i> <br>
- Master Class Animation & Visual Effects <i>(MKL-V-AVE)</i> <span style="color:red;">(until February 2026)</span> <br>
- Animated Dramaturgies <i>(MLAB-PLV-AD)</i> <span style="color:red;">(until February 2025)</span>



<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
